<div class='logo'>
  <h1>Time Tracker</h1>
</div>

<% if current_user %>
  <ul class="custom-nav nav nav-tabs">
    <li class="<%= active?(root_path) %>">
      <%= link_to "", root_path, class: 'glyphicon glyphicon-home' %>
    </li>

    <%= render 'shared/employee_nav_items' if employee? %>

    <%= render 'shared/audit_log_tab' if admin? %>

    <%= render 'shared/admin_dropdown' if admin? %>

    <li class="<%= active?(destroy_user_session_path) %> pull-right">
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
<% end %>
